<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centrado"> GameZone </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-label>{{ character | json }}</ion-label> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="neon-rgb">Historial De Compras</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list lines="none" class="custom-table">
          <ion-item class="header-row">
            <ion-label class="centrado">Nombre</ion-label>
          </ion-item>
          <ion-item *ngFor="let elemento of character.results">
            <ion-label class="centrado">{{ elemento.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>