<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="centrado">GameZone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar class="m-t" placeholder="Buscar en el historial"></ion-searchbar>

  <ion-card class="m-t centrado">
    <ion-card-title class="m-t neon-rgb">Historial de Compras</ion-card-title>
    <ion-card-content>
      <ion-list *ngIf="detalles.length > 0">
        <ion-item *ngFor="let detalle of detalles" class="historial-item">
          <ion-thumbnail slot="start">
            <img [src]="detalle.imagenv" alt="Imagen del juego">
          </ion-thumbnail>
          <ion-label class="centrado">
            <h3>{{ detalle.nombrev }}</h3>
            <p *ngIf="detalle.seccion_id == '1'"><ion-icon slot="start" name="logo-playstation"></ion-icon><br>Playstation</p>
            <p *ngIf="detalle.seccion_id == '2'"><ion-icon slot="start" name="logo-xbox"></ion-icon><br>Xbox</p>
            <p *ngIf="detalle.seccion_id == '3'"><ion-icon slot="start" name="game-controller-outline"></ion-icon><br>Nintendo</p>
            <p *ngIf="detalle.seccion_id == '4'"><ion-icon slot="start" name="logo-steam"></ion-icon><br>PC</p>
          </ion-label>
          <ion-label>
            <p class="centrado">cantidad:</p>
            <p  class="centrado">subtotal:</p>
            <p class="centrado">total:</p>
            <p  class="centrado">codigo:</p>
           </ion-label>
          <ion-label>
           <p class="centrado"> {{ detalle.cantidad }} </p>
           <p  class="centrado"> {{ detalle.subtotal | precioClp }} </p>
           <p class="centrado"> {{ detalle.totalc | precioClp }} </p>
           <p  class="centrado"> {{ detalle.codigo }} </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <div class="ion-text-center" *ngIf="detalles.length === 0">
        No hay historial de compras.
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
